.card{
    border: 2px solid rgba(0, 0, 0, 0.253);
    border-radius: 15px;
    background-color: rgba(31, 32, 59, 0.068);
    padding: 15px;
    position: relative;
    width: 200px;
}


.card img {
    height: 100px;
    width: 100%;
    object-fit: contain;
}

.delete_card{
    border: none;
    background: none;
    color: rgb(78, 78, 78);
    font-size: 20px;
    position: absolute;
    top: -10px;
    right: -10px;
    color: #a58686;
    background: #ffffff;
    border-radius: 50%;
    line-height: 0;
    border: 3px solid #a58686;
    display: block;
    padding: 3px;
}
.delete_card:hover{
    color: #db0000;
    border: 3px solid #db0000;
    transform: scale(1.1);
    transition: .3s;
}
.show_info{
    color: #005780;
    border: 2px solid #005780;
    padding: 5px 2px;
    font-size: 15px;
    border-radius: 15px;
    cursor: pointer;
    width: 60%;
    display: block;
    margin: 0 auto;
    transition: .3s;

}
.show_info:hover{
    background: #005780;
    color: white;
    transition: .3s;
}
.title{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.price{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0;
}
.full_price{
    text-decoration: line-through;
}